/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
// $--color-primary: #1890ff;
// $--color-success: #13ce66;
// $--color-warning: #ffba00;
// $--color-danger: #ff4949;
// $--color-info: #1E1E1E;

// $--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

// $--border-color-light: #dfe4ed;
// $--border-color-lighter: #e6ebf5;

$--table-border:1px solid #dfe6ec;


/// color|1|Font Color|2
$--color-text-placeholder: #C0C4CC ;
/// color|1|Border Color|3
$--border-color-base: #DCDFE6 ;
/* Border
-------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-color-hover: $--color-text-placeholder;
$--border-base: $--border-width-base $--border-style-base $--border-color-base;
/// borderRadius|1|Radius|0
$--border-radius-base: 0px;
/// borderRadius|1|Radius|0
$--border-radius-small: 0px;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100%;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0;
$--card-border-radius: 0px;
$--tag-border-radius: 0px;
$--pagination-border-radius: 0px;


/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
